body {
    margin: 20px !important;
    overflow: hidden;
	/* background-color: #416e9e!important; */
	background-color: black!important;
	color: white!important;
}

table, th, td {
  border: 1px solid black;
  padding: 2px!important;
}

th {
    position: sticky;
    top: 0px; /* 0px if you don't have a navbar, but something is required */
    background: black;
    z-index: 100;
    font-weight: normal;
}

table {
  width: 100%;
}

th {
  height: 35px;
}

th {
  text-align: left;
}

th, td {
  padding: 15px;
  text-align: left;
}

/* tr:hover {background-color: #f5f5f5;} */
tr:hover {background-color: #416e9e;}
 

audio { 
    display: block; margin:10px; 
}

.libraryCol {
    position: absolute;
    overflow-y: scroll;
    max-height: 350px;
}

.jammanCol {
    position: absolute;
    overflow-y: scroll;
    max-height: 350px;
}

.loopOptionsCol1 {
    width: 180px;
}

.slotCol1 { 
    width: 33px; 
}

.slotCol2 { 
    width: 20px; 
}

.descriptionBox {
    background-color: black;
    color: yellow;
    width: 350px;
    height: 58.5%;
}

.audioArea {
    background-color: black;
    color: yellow;
    height: 69%;
    width: 100%;
}

.statusArea {
    background-color: black;
    color: yellow;
    height: 100px;
    width: 100%;
    margin-top: 25px
}

input[type=radio] {
    transform: scale(1.3);
}

.libAndJmTableWrapper {
    height: 70%;
}

.descriptionLabel {
    margin-top: 25px;
}

.loopPropertiesTableWrapper
{
    /*height: 272px;*/
}

.loopPropertiesTable {
    
}

.loopInputItem {
    width: 290px;
    background-color: black;
    color: yellow;
}

.importLabel {
    /*color: #fff;
    background-color: #007bff;*/
    font-size: 1.2em;
    font-weight: bold;
}

.secondaryCommandArea {
    margin-top: 30px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

 .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    /*filter: alpha(opacity=0);*/
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

tr.selectedRow {
    background-color: #271427;
    color: yellow;
}

.libraryFilterTextBox {
    color: yellow;
    background-color: black;
    width: 50%;
    padding: 3px;
}

.helpLink {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background-color: black;
    margin-left: 6px;
}

.btn-primary {
    /*  
    color: #fff !important;
    background-color: #cd9f4ad6 !important;
    */
    margin-right: 6px !important;
    font-size: 18px !important;
}

.libAppWrapper {
    overflow: hidden;
    position: relative;
}

.libAppBackground {
    opacity: 0.4;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-repeat: repeat;
}

.libAppContent {
    position: relative;
}
