﻿@page "/"
@using System.Globalization
@using JamManWeb.Data
@using JamManClassicLib
@inject JamManDataService JamManService
@inject IJSRuntime JsRuntime
@inject IWebHostEnvironment environment
@inject NavigationManager NavigationManager

@if (jammanData == null)
{
    InitAll(null); // internally this is the InitAll call which ensures data is in the cache
}
else
{
    <div class="libAppWrapper">

        <img class="libAppBackground" src="/images/JamManBlueTexture.jpg" alt="">

        <div class="libAppContent">

            <div class="row row-cols-3 no-gutters">
                <div class="col-6">
                    <h2>LOOP PROPERTIES</h2>

                    <div class="loopPropertiesTableWrapper">

                        @if (jammanData.Library.LibraryItems.Count > 0 && boundCurrentLibItem != null)
                        {
                            <table class="loopPropertiesTable">
                                <tr>
                                    <td class="loopOptionsCol1">Name</td>
                                    <td id="libSelectedLoopName"><input class="loopInputItem" type="text" value="@boundCurrentLibItem.Name" @onchange="OnLibItemChangeName" /></td>
                                </tr>
                                <tr>
                                    <td>Loop Mode</td>
                                    <td>
                                        <select class="loopInputItem" @bind="boundCurrentLibItem.LoopInfo.LoopModeType" @oninput="OnLibItemChangeLoopMode">
                                            <option value="Loop">Loop</option>
                                            <option value="Single">Single</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tempo</td>
                                    <td>
                                        <input class="loopInputItem" type="number" min="40" max="240" value="@JMCommands.TempoToBPM(boundCurrentLibItem.LoopInfo.Tempo).ToString()" @oninput="OnLibItemChangeTempo" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Time Sig</td>
                                    <td>
                                        <select class="loopInputItem" @bind="boundCurrentLibItem.LoopInfo.TimeSignatureType" @oninput="OnLibItemChangeTimeSig">
                                            <option value="TwoFour">TwoFour</option>
                                            <option value="ThreeFour">ThreeFour></option>
                                            <option value="FourFour">FourFour</option>
                                            <option value="FiveFour">FiveFour</option>
                                            <option value="SixFour">SixFour</option>
                                            <option value="SevenFour">SevenFour</option>
                                            <option value="EightFour">EightFour</option>
                                            <option value="NineFour">NineFour</option>
                                            <option value="TenFour">TenFour</option>
                                            <option value="ElevenFour">ElevenFour</option>
                                            <option value="TwelveFour">TwelveFour</option>
                                            <option value="ThirteenFour">ThirteenFour</option>
                                            <option value="FourteenFour">FourteenFour</option>
                                            <option value="FifteenFour">FifteenFour</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Rhythm</td>
                                    <td>
                                        <select class="loopInputItem" @bind="boundCurrentLibItem.LoopInfo.RhythmType" @oninput="OnLibItemChangeRhythm">
                                            <option value="None">None</option>
                                            <option value="WoodBlocks">WoodBlocks</option>
                                            <option value="Sticks">Sticks</option>
                                            <option value="Click">Click</option>
                                            <option value="AlternateKickHighHat">AlternateKickHighHat</option>
                                            <option value="StudioKickHighHat">StudioKickHighHat</option>
                                            <option value="TechnoKickHighHat">TechnoKickHighHat</option>
                                            <option value="CowBell">CowBell</option>
                                            <option value="Conga">Conga</option>
                                            <option value="Tambourine">Tambourine</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Stop Mode</td>
                                    <td>
                                        <select class="loopInputItem" @bind="boundCurrentLibItem.LoopInfo.StopModeType" @oninput="OnLibItemChangeStopMode">
                                            <option value="Stop">Stop</option>
                                            <option value="Finish">Finish</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Description</td>
                                    <td>
                                        @if (boundCurrentLibItem != null)
                                        {
                                            <textarea class="descriptionBox" value="@boundCurrentLibItem.Desc" @onchange="OnLibItemChangeDesc"></textarea>
                                        }
                                    </td>
                                </tr>

                            </table>
                        }
                        else
                        {
                            <div>No library item(s) or selection.</div>
                        }
                    </div>
                </div>
                <div class="col-6">
                    <h2>AUDIO PREVIEW</h2>
                    <div class="audioArea">
                        @if (string.IsNullOrWhiteSpace(boundNowPlayingName) == false && boundAudioWavData != string.Empty)
                        {
                            <div>@boundNowPlayingName</div>
                            <audio controls loop src="@boundAudioWavData"></audio>
                        }
                        else
                        {
                            <div>Select a library or slot to preview.</div>
                        }
                        <textarea placeholder="Status" class="statusArea" @bind="boundStatusMessages"></textarea>
                        @if (jammanData.Library.LibraryItems.Count > 0)
                        {
                            <input type="text" placeholder="Search" class="libraryFilterTextBox" @bind="boundFilterLibraryCriteria" />
                        }

                        <a class="helpLink" target="_blank" href="https://docs.google.com/document/d/1BcnIS7Rf3LR3-HGFk7Rpf_VE3kXtBXHnJJOhcdbdc-0/edit?usp=sharing">Online Help »</a>
                    </div>
                </div>
            </div>
            <div class="row row-cols-2 no-gutters">
                <div class="col-6">

                    <h2><a style="cursor: pointer;" @onclick="@(e => OnCopyLibraryPath(e))" title="Your library where WAV files are stored. Click to copy directory path to status.">LIBRARY</a></h2>

                    <span class="btn btn-primary btn-file">
                        <RadzenUpload Url="upload/single" ChooseText="Import WAV..." Accept="audio/wav" Progress="@((uploadArgs) => OnUploadProgress(uploadArgs, "Import WAV File"))" Complete="@((completeArgs) => OnUploadCompleted(completeArgs))" />
                    </span>

                    @if (jammanData.Library.LibraryItems.Count > 0 && boundCurrentLibItem != null)
                    {
                        if (boundCurrentSlotInfo != null)
                        {
                            <button class="btn btn-primary" @onclick="@(e => OnLibraryReport(e))">Library Report</button>
                            <button class="btn btn-primary" @onclick="@(e => OnAssignToSlot(e, boundCurrentLibItem.Id, boundCurrentSlotInfo.SlotNumber.ToString()))">Assign Library Item #@boundCurrentLibItem.Index To Slot #@boundCurrentSlotInfo.SlotNumber.ToString()</button>
                        }
                    }

                </div>
                <div class="col-6">
                    <h2><a style="cursor: pointer;" @onclick="@(e => OnCopyJamManPath(e))" title="Your virtual JAMMAN folder. Click to copy path to status.">JAMMAN</a></h2>

                    @if (jammanData != null)
                    {
                        <div>
                            <button class="btn btn-primary" @onclick="@(e => OnSaveToJamMan(e))">Save to JAMMAN</button>

                            <button class="btn btn-primary" @onclick="@(e => OnSyncToLibrary(e))">Sync to LIBRARY</button>

                            <button class="btn btn-primary" @onclick="@(e => OnJamManReport(e))">JAMMAN Report</button>

                            @if (string.IsNullOrWhiteSpace(boundStatusMessages) == false)
                            {
                                <button class="btn btn-primary" @onclick="@(e => OnClearStatusMessages(e))">Clear Status</button>
                            }
                        </div>
                    }

                </div>
            </div>

            <div class="row row-cols-2 no-gutters">
                <div class="col-6 libraryCol">
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>&nbsp;</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var libItem in jammanData.Library.LibraryItems)
                            {
                                var filterMatch = true;
                                if (string.IsNullOrWhiteSpace(boundFilterLibraryCriteria) == false &&
                                     string.IsNullOrWhiteSpace(boundFilterLibraryCriteria) == false)
                                {
                                    if (libItem.Name.ToLower().Contains(boundFilterLibraryCriteria.ToLower()) == false &&
                                        libItem.Desc.ToLower().Contains(boundFilterLibraryCriteria.ToLower()) == false)
                                    {
                                        filterMatch = false;
                                    }
                                }

                                if (filterMatch)
                                {
                                    <tr @onclick="() => OnClickLibraryItem(null, libItem.Id)" class="@(boundCurrentLibItem != null && boundCurrentLibItem.Id == libItem.Id ? "selectedRow" : string.Empty)">
                                        <td>@libItem.Index</td>
                                        <td><input class="libItemRadio" checked="@(boundCurrentLibItem != null && boundCurrentLibItem.Id == libItem.Id)" @onclick="@(e => OnClickLibraryItem(e, libItem.Id))" type="radio" name="libraryRadio" /></td>
                                        <td>@libItem.Name</td>
                                    </tr>
                                }
                            }
                            </tbody>
                    </table>
                </div>
                <div class="col-6 jammanCol">
                    <table>
                        <thead>
                            <tr>
                                <th class="slotCol1">#</th>
                                <th class="slotCol2">&nbsp;</th>
                                <th class="slotCol3">Loop Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var slotIndex = 1; }
                            @foreach (var slotItem in jammanData.ConnectInfo.Slots)
                            {
                                var slotName = string.IsNullOrWhiteSpace(slotItem?.LibItemName) ? "[EMPTY]" : slotItem.LibItemName;

                                <tr @onclick="() => OnClickSlotItem(null, slotItem.SlotNumber.ToString())" class="@(boundCurrentSlotInfo != null && boundCurrentSlotInfo.SlotNumber == slotItem.SlotNumber ? "selectedRow" : string.Empty )">
                                    <td>@slotItem.SlotNumber.ToString()</td>
                                    <td><input class="slotLibItemRadio" checked="@(boundCurrentSlotInfo != null && boundCurrentSlotInfo.SlotNumber == slotItem.SlotNumber)" type="radio" name="slotItemRadio" @onclick="@(e => OnClickSlotItem(e, slotItem.SlotNumber.ToString()))" /></td>
                                    <td><span>@slotName</span></td>
                                </tr>
                                slotIndex++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row row-cols-2 no-gutters">
                <div class="col-6 secondaryCommandArea">
                    @*SECONDARY LIBRARY COMMANDS*@

                    @if (boundCurrentLibItem != null)
                    {
                        if (jammanData.Library.LibraryItems.Count > 0 && boundCurrentLibItem != null)
                        {
                            <button class="btn btn-primary" @onclick="@(e => OnArchiveLibrary(e, boundCurrentLibItem.Id))">Archive Item</button>

                            <button class="btn btn-primary" @onclick="@(e => OnRemoveLibraryItem(e, boundCurrentLibItem.Id))">Remove Item</button>
                        }

                        if (boundCurrentLibItem.Index >= 1 && boundCurrentLibItem.Index < jammanData.Library.LibraryItems.Count())
                        {
                            <button class="btn btn-primary" @onclick="@(e => OnMoveLibraryItemDown(e, boundCurrentLibItem.Id, boundCurrentLibItem.Index))">Move Down</button>
                        }

                        if (boundCurrentLibItem.Index > 1 && boundCurrentLibItem.Index <= jammanData.Library.LibraryItems.Count())
                        {
                            <button class="btn btn-primary" @onclick="@(e => OnMoveLibraryItemUp(e, boundCurrentLibItem.Id, boundCurrentLibItem.Index))">Move Up</button>
                        }
                    }
                </div>

                <div class="col-6 secondaryCommandArea">
                    @*SECONDARY JAMMAN COMMANDS*@

                    @if (boundCurrentSlotInfo != null && boundCurrentSlotInfo.LibItemId != string.Empty)
                    {
                        <button class="btn btn-primary" @onclick="@(e => OnClearSlot(e, boundCurrentSlotInfo.SlotNumber.ToString()))">Clear Slot</button>
                    }

                    @if (jammanData.ConnectInfo.AreSlotsClear() == false)
                    {
                        <button class="btn btn-primary" @onclick="@(e => OnClearAllSlots(e))">Clear All Slots</button>
                    }

                    @if (boundCurrentSlotInfo != null && boundCurrentSlotInfo.IsEmpty == false)
                    {
                        if (boundCurrentSlotInfo.SlotNumber >= 1 && boundCurrentSlotInfo.SlotNumber < jammanData.ConnectInfo.Slots.Count())
                        {
                            <button class="btn btn-primary" @onclick="@(e => OnMoveSlotItemDown(e, boundCurrentSlotInfo.SlotNumber))">Move Down</button>
                        }

                        if (boundCurrentSlotInfo.SlotNumber > 1 && boundCurrentSlotInfo.SlotNumber <= jammanData.ConnectInfo.Slots.Count())
                        {
                            <button class="btn btn-primary" @onclick="@(e => OnMoveSlotItemUp(e, boundCurrentSlotInfo.SlotNumber))">Move Up</button>
                        }
                    }

                </div>
            </div>
        </div>

    </div>
}

@code {

    private JamManJSONData jammanData;
    private JMCLibraryItem boundCurrentLibItem = null;
    private JamManSlotInfo boundCurrentSlotInfo = null;
    private string boundAudioWavData = string.Empty;
    private string boundNowPlayingName = string.Empty;
    private string boundStatusMessages = "Status: Ready";
    private string boundFilterLibraryCriteria = string.Empty;
    private string[] boundJmUploadArgs = null;

    protected override async Task OnInitializedAsync()
    {
        jammanData = await JamManService.GetJamManJSONDataAsync();
        await SetDefaultRadioSelections();

        // on initial load, don't show the selection details...
        boundStatusMessages = string.Empty;

    }

    protected void CommandHandler(CommandType commandType, CommandState commandState)
    {
        // TODO: This could potentially be optimized since in most cases the Web app only needs to have the latest JSON and nothing more.
        // In other words, run InitAll once, and every other operation would be a "Refresh" to fetch the latest JSON...
        if (commandType == CommandType.InitAll && commandState == CommandState.Completed)
        {
            jammanData = JMCommands.GetJamManJSONData();
            ShowStatus("JSON data was sync'd!", 1F);
        }

        if (commandType == CommandType.JammanSaveAll && commandState == CommandState.Completed)
        {
            jammanData = JMCommands.GetJamManJSONData();
            ShowStatus("Your virtual JAMMAN folder is now in sync. It has all the WAV and meta-data - have a good time on the road or at your gig!", 1F);
        }
    }

    protected void ShowStatus(string message, double percentDone)
    {
        if (string.IsNullOrWhiteSpace(message) == false)
        {
            if (boundStatusMessages.Length > 0)
            {
                boundStatusMessages += Environment.NewLine;
            }
            boundStatusMessages += string.Format("{0} - {1}", message, percentDone.ToString("P", CultureInfo.InvariantCulture));
        }
    }

    protected void UpdateLibraryItem()
    {
        if (boundCurrentLibItem == null)
        {
            return;
        }

        // // jm -libraryUpdate [GUID | INDEX] LOOPNAME DESCRIPTION LoopMode Tempo  TimeSignature Rhythm StopMode
        string[] args =
        {
          "-libraryUpdate",
          boundCurrentLibItem.Id,
          boundCurrentLibItem.Name,
          boundCurrentLibItem.Desc,
          boundCurrentLibItem.LoopInfo.LoopModeType.ToString("g"),
          JMCommands.BPMToTempo(boundCurrentLibItem.LoopInfo.Tempo).ToString(),
          boundCurrentLibItem.LoopInfo.TimeSignatureType.ToString("g"),
          boundCurrentLibItem.LoopInfo.RhythmType.ToString("g"),
          boundCurrentLibItem.LoopInfo.StopModeType.ToString("g")
    };

        JMNotifier notify = new JMNotifier();
        notify.CommandInfo += CommandHandler;
        notify.Status += ShowStatus;
        JMCommands.LibraryUpdate(args, notify);

        InitAll(null);
    }

    protected void InitAll(MouseEventArgs e)
    {
        // needs to be called often - TODO: optimize!
        JMNotifier notify = new JMNotifier();
        notify.CommandInfo += CommandHandler;
        notify.Status += ShowStatus;

        JamManService.InitAll(notify);
    }

    protected async Task OnRemoveLibraryItem(MouseEventArgs e, string libItemId)
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "This will permanently remove this item from your library. The WAV file and its meta-data will be DELETED.  Additionally, any references to this item in JAMMAN slots will be removed.  Do you want to continue?");

        if (confirmed == false)
        {
            return;
        }

        string[] args =
        {
            "-libraryRemove",
            libItemId
    };

        JMNotifier notify = new JMNotifier();
        notify.CommandInfo += CommandHandler;
        notify.Status += ShowStatus;

        JMCommands.LibraryRemove(args, notify);

        InitAll(null);

        // Don't leave the removed item's data in the properties
        // select the first item in the library if there
        // are still items...
        if (jammanData.Library.LibraryItems.Count > 0)
        {
            ReSelectLibItem(1);
        }

        boundStatusMessages = "Item removed.";
    }

    protected async Task OnArchiveLibrary(MouseEventArgs e, string libItemId)
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Archive will send a copy of this WAV file to the JMArchive folder for a backup. The library item will remain. The current meta-data will be copied as a text file for reference. Do you want to continue?");

        if (confirmed == false)
        {
            return;
        }

        string[] args =
        {
            "-libraryArchive",
            libItemId
    };

        JMNotifier notify = new JMNotifier();
        notify.CommandInfo += CommandHandler;
        notify.Status += ShowStatus;

        JMCommands.LibraryArchive(args, notify);

        boundStatusMessages = "Archive complete.  The WAV file was copied to the following location:" + Environment.NewLine + JMCommands.ArchiveDirectory;
    }

    protected async Task OnClearSlot(MouseEventArgs e, string slotNumber)
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Do you want to clear this slot?");

        if (confirmed == false)
        {
            return;
        }

        string[] args =
        {
            "-jammanClearSlot",
            slotNumber
    };

        JMNotifier notify = new JMNotifier();
        notify.CommandInfo += CommandHandler;
        notify.Status += ShowStatus;

        JMCommands.JammanClearSlot(args, notify);

        InitAll(null);

        // This will ensure button state status, e.g., Move Up/Down are hidden
        ReSelectSlotItem(Convert.ToInt32(slotNumber));

        boundStatusMessages = "Slot cleared.";
    }

    protected Task<bool> OnCopyLibraryPath(MouseEventArgs e)
    {
        boundStatusMessages = JMCommands.LibraryDirectory;
        return Task.FromResult(true);
    }

    protected Task<bool> OnCopyJamManPath(MouseEventArgs e)
    {
        boundStatusMessages = JMCommands.JamManDirectory;
        return Task.FromResult(true);
    }

    protected async Task OnClearAllSlots(MouseEventArgs e)
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to clear all the slots from the JAMMAN?");

        if (confirmed == false)
        {
            return;
        }

        string[] args =
        {
            "-jammanClearAllSlots",
        };

        JMNotifier notify = new JMNotifier();
        notify.CommandInfo += CommandHandler;
        notify.Status += ShowStatus;

        JMCommands.JammanClearAllSlots(notify);

        InitAll(null);

        // This will ensure button state status, e.g., Move Up/Down are hidden
        ReSelectSlotItem(1);

        boundStatusMessages = "All slots cleared.";
    }

    protected async Task OnAssignToSlot(MouseEventArgs e, string libItemId, string slotNumber)
    {
        if (boundCurrentSlotInfo != null && string.IsNullOrWhiteSpace(boundCurrentSlotInfo.LibItemId) == false)
        {
            var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "This action will replace the currently assigned slot - are you sure?");

            if (confirmed == false)
            {
                return;
            }
        }

        string[] args =
        {
            "-jammanAssignSlot",
            libItemId,
            slotNumber
        };

        JMNotifier notify = new JMNotifier();
        notify.CommandInfo += CommandHandler;
        notify.Status += ShowStatus;

        JMCommands.JammanAssignSlot(args, notify);

        InitAll(null);

        boundStatusMessages = "Slot assigned.";

        ReSelectSlotItem(Convert.ToInt32(slotNumber));
    }

    protected void OnMoveLibraryItemDown(MouseEventArgs e, string libItemId, int libIndex)
    {
        string[] args =
        {
            "-libraryMoveItemDown",
            libIndex.ToString()
        };

        JMNotifier notify = new JMNotifier();
        notify.CommandInfo += CommandHandler;
        notify.Status += ShowStatus;

        JMCommands.LibraryMoveItemDown(args, notify);

        InitAll(null);

        ReSelectLibItem(libIndex + 1);

        boundStatusMessages = "Library item moved down.";
    }

    protected void OnMoveLibraryItemUp(MouseEventArgs e, string libItemId, int libIndex)
    {
        string[] args =
        {
            "-libraryMoveItemUp",
            libIndex.ToString()
        };

        JMNotifier notify = new JMNotifier();
        notify.CommandInfo += CommandHandler;
        notify.Status += ShowStatus;

        JMCommands.LibraryMoveItemUp(args, notify);

        InitAll(null);

        ReSelectLibItem(libIndex - 1);

        boundStatusMessages = "Library item moved up.";
    }

    protected void OnMoveSlotItemUp(MouseEventArgs e, int slotNumber)
    {
        string[] args =
        {
            "-jammanMoveSlotUp",
            slotNumber.ToString()
        };

        JMNotifier notify = new JMNotifier();
        notify.CommandInfo += CommandHandler;
        notify.Status += ShowStatus;

        JMCommands.JammanMoveSlotUp(args, notify);

        InitAll(null);

        ReSelectSlotItem(slotNumber - 1);

        boundStatusMessages = "Slot item moved up.";
    }

    protected void OnMoveSlotItemDown(MouseEventArgs e, int slotNumber)
    {
        string[] args =
        {
            "-jammanMoveSlotDown",
            slotNumber.ToString()
        };

        JMNotifier notify = new JMNotifier();
        notify.CommandInfo += CommandHandler;
        notify.Status += ShowStatus;

        JMCommands.JammanMoveSlotDown(args, notify);

        InitAll(null);

        ReSelectSlotItem(slotNumber + 1);

        boundStatusMessages = "Slot item moved down.";
    }

    protected async Task OnClickSlotItem(MouseEventArgs e, string slotNumber)
    {
        boundCurrentSlotInfo = jammanData.ConnectInfo.Slots.FirstOrDefault(x => x.SlotNumber == Convert.ToInt32(slotNumber));

        if (boundCurrentSlotInfo != null && string.IsNullOrWhiteSpace(boundCurrentSlotInfo.LibItemId) == false)
        {
            var wavFileBytes = await JamManService.GetAudioWavAsync(boundCurrentSlotInfo.LibItemId, jammanData);

            if (wavFileBytes != null && wavFileBytes.Length > 0)
            {
                boundAudioWavData = "data:audio/wav;base64,";
                boundAudioWavData += System.Convert.ToBase64String(wavFileBytes);

                var refLibItem = jammanData.Library.LibraryItems.FirstOrDefault(x => x.Id == boundCurrentSlotInfo.LibItemId);
                if (refLibItem != null)
                {
                    boundNowPlayingName = refLibItem.Name;
                }
            }
        }
        else
        {
            // empty slot?  leave whatever was in there there!
        }
    }

    protected async Task OnClickLibraryItem(MouseEventArgs e, string libItemId)
    {
        boundCurrentLibItem = jammanData.Library.LibraryItems.FirstOrDefault(x => x.Id == libItemId);

        if (boundCurrentLibItem != null)
        {
            var wavFileBytes = await JamManService.GetAudioWavAsync(boundCurrentLibItem.Id, jammanData);
            if (wavFileBytes != null && wavFileBytes.Length > 0)
            {
                boundAudioWavData = "data:audio/wav;base64,";
                boundAudioWavData += System.Convert.ToBase64String(wavFileBytes);
                boundNowPlayingName = boundCurrentLibItem.Name;

                // Show the wav file - this is so the user knows that it can be replaced if they want!
                var libWavFile = Path.Combine(jammanData.Library.CurrentLibraryRootPath, boundCurrentLibItem.Id + ".wav");
                boundStatusMessages = "Selected Library WAV File: " + libWavFile;
            }
            else
            {
                // file may no longer exist!
                boundAudioWavData = string.Empty;
            }
        }
        else
        {
            boundAudioWavData = string.Empty;
        }
    }

    protected void OnLibItemChangeName(ChangeEventArgs e)
    {
        boundCurrentLibItem.Name = e.Value.ToString();
        UpdateLibraryItem();
    }

    protected void OnLibItemChangeDesc(ChangeEventArgs e)
    {
        boundCurrentLibItem.Desc = e.Value.ToString();
        UpdateLibraryItem();
    }

    protected void OnLibItemChangeLoopMode(ChangeEventArgs e)
    {
        if (Enum.TryParse(e.Value.ToString(), out LoopMode loopMode))
        {
            boundCurrentLibItem.LoopInfo.LoopModeType = loopMode;
            UpdateLibraryItem();
        }
    }

    protected void OnLibItemChangeTempo(ChangeEventArgs e)
    {
        if (int.TryParse(e.Value.ToString(), out int enteredBPMTempo) && enteredBPMTempo >= 40 && enteredBPMTempo <= 240)
        {
            boundCurrentLibItem.LoopInfo.Tempo = JMCommands.BPMToTempo(enteredBPMTempo);
            UpdateLibraryItem();
        }
    }

    protected void OnLibItemChangeTimeSig(ChangeEventArgs e)
    {
        if (Enum.TryParse(e.Value.ToString(), out TimeSignature timeSig))
        {
            boundCurrentLibItem.LoopInfo.TimeSignatureType = timeSig;
            UpdateLibraryItem();
        }
    }

    protected void OnLibItemChangeRhythm(ChangeEventArgs e)
    {
        if (Enum.TryParse(e.Value.ToString(), out Rhythm rhythm))
        {
            boundCurrentLibItem.LoopInfo.RhythmType = rhythm;
            UpdateLibraryItem();
        }
    }

    protected void OnLibItemChangeStopMode(ChangeEventArgs e)
    {
        if (Enum.TryParse(e.Value.ToString(), out StopMode stopMode))
        {
            boundCurrentLibItem.LoopInfo.StopModeType = stopMode;
            UpdateLibraryItem();
        }
    }

    protected void OnUploadProgress(UploadProgressArgs args, string name)
    {
        boundJmUploadArgs = null;

        var status = $"% '{name}' / {args.Loaded} of {args.Total} bytes.";
        ShowStatus(status, ((double)args.Progress) / 100F);

        if ( args.Progress == 100)
        {
            Radzen.FileInfo fileInfo = args.Files.FirstOrDefault(); // only uploading 1 at a time!
            if (fileInfo != null)
            {
                var uploadedFile = Path.Combine(JMCommands.GetAppPath(), "JMUploads", fileInfo.Name);

                var importedName = fileInfo.Name.Replace(".wav", string.Empty).Replace(".WAV", string.Empty);

                // build the args to upload the library item....
                string[] jmArgs =
                {
                    "-libraryAdd",
                    uploadedFile,
                    importedName,
                    fileInfo.Name + " (uploaded on " + DateTime.Now.ToString() + ")",
                    jammanData.Settings.DefaultNewLoopsToSinglePlayMode ? "Single" : "Loop",
                    "120", // default tempo in BPM?
                    "FourFour",
                    "None",
                    "Stop" // TODO: should this option come from settings!?
                };

                boundJmUploadArgs = jmArgs;
            }
        }
    }

    protected void OnUploadCompleted(UploadCompleteEventArgs args)
    {
        if (boundJmUploadArgs != null)
        {
            JMNotifier notify = new JMNotifier();
            notify.CommandInfo += CommandHandler;
            notify.Status += ShowStatus;

            JMCommands.LibraryAdd(boundJmUploadArgs, notify);

            InitAll(null);

            // Attempt to set the selection to the newly imported item
            if (jammanData != null && jammanData.Library.LibraryItems.Count > 0)
            {
                ReSelectLibItem(jammanData.Library.LibraryItems.Count);
            }

            // Seems like success - show only this message!
            boundStatusMessages = "Library Import complete!";
            boundJmUploadArgs = null;
        }
        else
        {
            ShowStatus("Library Upload/Import FAILED! Most likely related to file size, file I/O and/or unknown issue. Known BUG!", 1F);
        }
    }

    protected async Task OnLibraryReport(MouseEventArgs e)
    {
        if (jammanData == null || jammanData.Library.LibraryItems.Count == 0)
        {
            boundStatusMessages = "The library report is unavailable since there are no items in the library loaded.";
            return;
        }

        JMNotifier notify = new JMNotifier();
        notify.CommandInfo += CommandHandler;
        notify.Status += ShowStatus;

        // Generate the report in the cache...
        JMCommands.LibraryReport(notify);

        // Serve up the report...
        var httpClient = new HttpClient();
        httpClient.BaseAddress = new Uri(NavigationManager.BaseUri);

        // TODO: this not working - not able to download...
        await httpClient.GetAsync("api/HtmlReport/Library");

        boundStatusMessages += Environment.NewLine;
        boundStatusMessages += "Library Report: " + JMCommands.LibraryReportFile + Environment.NewLine;
        boundStatusMessages += "(auto download is coming soon)";
    }

    protected async Task OnSaveToJamMan(MouseEventArgs e)
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "This action will sync all the data to the virtual JAMMAN device folder making it ready for the road. Do you want to continue?");

        if (confirmed == false)
        {
            return;
        }

        JMNotifier notify = new JMNotifier();
        notify.CommandInfo += CommandHandler;
        notify.Status += ShowStatus;

        JMCommands.JammanSaveAll(notify);

        InitAll(null);

        // Overwrite the status message with this single message
        boundStatusMessages = "Your virtual JAMMAN folder is ready for the road. You should now copy all the files in the virtual JAMMAN folder to your device's actual JAMMAN card.";
        boundStatusMessages += Environment.NewLine;
        boundStatusMessages += "VIRTUAL JAMMAN FOLDER: " + JMCommands.JamManDirectory;
    }

    protected async Task OnSyncToLibrary(MouseEventArgs e)
    {
        var confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Did you copy your files from your device's card to the virtual JAMMAN folder?");
        if (confirmed == false)
        {
            // Overwrite the message area with this:
            boundStatusMessages = "TIP: In order to sync from the road you must copy the files from your JAMMAN device's CARD to the virtual JAMMAN folder location, which is here: " + Environment.NewLine + JMCommands.JamManDirectory;
            return;
        }

        confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "This will sync any new changes you made while on the road with your JAMMAN to the LIBRARY. Would you like to continue?");

        if (confirmed == false)
        {
            return;
        }

        JMNotifier notify = new JMNotifier();
        notify.CommandInfo += CommandHandler;
        notify.Status += ShowStatus;

        JMCommands.JammanSyncToLibrary(notify);

        InitAll(null);

        boundStatusMessages = "Your virtual JAMMAN folder was sync'd from the road with the LIBRARY.";
    }

    protected async Task OnJamManReport(MouseEventArgs e)
    {
        if (jammanData == null || jammanData.ConnectInfo.Slots.Count == 0)
        {
            boundStatusMessages = "The JAMMAN report is unavailable since there are no slots loaded.";
            return;
        }

        JMNotifier notify = new JMNotifier();
        notify.CommandInfo += CommandHandler;
        notify.Status += ShowStatus;

        // Generate the report in the cache...
        JMCommands.JamManReport(notify);

        // Serve up the report...
        var httpClient = new HttpClient();
        httpClient.BaseAddress = new Uri(NavigationManager.BaseUri);

        // TODO: this not working - not able to download...
        await httpClient.GetAsync("api/HtmlReport/JamMan");

        boundStatusMessages += Environment.NewLine;
        boundStatusMessages += "JAMMAN Report: " + JMCommands.JamManReportFile + Environment.NewLine;
        boundStatusMessages += "(auto download is coming soon)";

    }

    protected void OnClearStatusMessages(MouseEventArgs e)
    {
        boundStatusMessages = string.Empty;
    }

    protected async Task SetDefaultRadioSelections()
    {
        // Intended use: when needing a radio selection, either on initial load
        // or when an item has been removed...

        if (jammanData != null)
        {
            // try to set the selection to the first jamman slot, if any
            if (jammanData.ConnectInfo != null && jammanData.ConnectInfo.Slots.Any())
            {
                boundCurrentSlotInfo = jammanData.ConnectInfo.Slots[0];
            }

            // try to set the selection to the first library index, if any
            if (jammanData.ConnectInfo != null && jammanData.Library.LibraryItems.Any())
            {
                boundCurrentLibItem = jammanData.Library.LibraryItems[0];

                await OnClickLibraryItem(null, boundCurrentLibItem.Id);
            }
        }
    }

    protected void ReSelectLibItem(int new1BasedIndex)
    {
        if (jammanData != null && new1BasedIndex > 0 && new1BasedIndex <= jammanData.Library.LibraryItems.Count)
        {
            boundCurrentLibItem = jammanData.Library.LibraryItems[new1BasedIndex - 1];
        }
    }

    protected void ReSelectSlotItem(int new1BasedIndex)
    {
        if (jammanData != null && new1BasedIndex > 0 && new1BasedIndex <= jammanData.ConnectInfo.Slots.Count)
        {
            boundCurrentSlotInfo = jammanData.ConnectInfo.Slots[new1BasedIndex - 1];
        }
    }


}